# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo

# YOLO model weights
*.pt
*.pth
*.onnx

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dataset
datasets/
data/


# AI models
*.keras
*.h5
*.pt
*.pth

# datasets
datasets/
data/

# virtual environment
venv/